<!DOCTYPE html5>
<html lang="en">
  {% load fontawesome_6 %}
<head>
  {% fontawesome_6_static %} 
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}My Site{% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
</head>

<body>
    <header>
        <nav>
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            
            <li><a href="{% url 'create_classifield' %}">Post</a></li>
            <li><a href="{% url 'my_classifields' %}">View Post</a></li>

           
            
         
              <!-- <li>
                <button class="btn"> <a href="/login">Login</a></button>
              </li> -->
            {% if user.is_authenticated %} 
              <li class="welcome-message">Welcome, {{user.username |capfirst }}</li>
              <li><button class="btn"> <a href="/logout">Logout</a></button></li>
            {% else %}
            <li> <button class="btn"> <a href="/login">Login</a></button></li>
            {% endif %}
          </ul>
         
        </nav>
      </header>
      {% block content %}
      {% endblock %}
     
      <footer>
        <p>&copy; 2023 @CLASSIFIED. All rights reserved.</p>
      </footer>
    
</body>
</html>