{% extends 'login/index.html' %} 
{% load fontawesome_6 %}
{% block posts %}


<div class="show_classified">
    <span class="bar"></span>
    <div class="heading">
        <h1 >{{classifield.title|capfirst}}</h1>
       <span class="info-row">#{{classifield.id}} <i  class="far fa-clock"></i>{{classifield.posted_date}} <i class="fa fa-map-marker-alt" ></i>{{classifield.location}}</span>
    </div>
    <h3>AD DETAILS</h3>
    <div class="details">
        <p> {{classifield.description}} 
            Read more at.... </p>
        <div>
            <div class="details_right_box">

                <h6>POSTED BY:<span>{{classifield.seller |capfirst}}</span></h6>
                <h6>PRICE: <span>{{classifield.price}}</span></h6>
                <h6>LOCATION: <span>{{classifield.location}}</span></h6>
                <h6>PHONE: <span>{{classifield.phone_no}}</span></h6>
            </div>
        </div>
    </div>

    <div class="content_footer">
        <div class="btn">
            <i class="fas fa-envelope"></i>
            <a href="" style="color: aliceblue;">Login to Contact</a>
        </div>
        <div class="btn btn-phone">
            <i class="fas fa-phone"></i>
            <a href=""style="color: aliceblue;">{{classifield.phone_no}}</a>
        </div>   
         {% if user == classifield.seller %}
      
            <a href="{% url 'update-classified' classifield.id %}" class="btn btn-update">Edit</a>
            <a href="{% url 'delete-classified' classifield.id %}" class="btn btn-update">Delete</a>
       {% endif %}

    </div>
</div>
{% endblock  %}