<div id="ctl00_ContentPlaceHolder1_dvAd">
  <div class="inner inner-box ads-details-wrapper">
  <span id="ctl00_ContentPlaceHolder1_lblTitle"><h1 class="classifiedtitle">Looking for sharing accommodation for working lady </h1></span>
  <span class="info-row">
  # <span id="ctl00_ContentPlaceHolder1_lblID">2497163</span>
  <span class="date"> <i class="far fa-clock" aria-hidden="true"></i>
  <span id="ctl00_ContentPlaceHolder1_lblDt">7/10/2023 6:16:33 AM</span>
  </span>- <span class="category">
  <span id="ctl00_ContentPlaceHolder1_lblCateg">19</span></span>- <span class="item-location">
  <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
  <span id="ctl00_ContentPlaceHolder1_lblLocation">Farwaniya</span>
  </span>
  </span>
  
  <div class="item-slider">
  <h2 class="pricetag d-none d-sm-block">
  <span id="ctl00_ContentPlaceHolder1_lblPrice"></span></h2>
  <div id="imgGallery" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  </div>
  </div>
  <a class="carousel-control-prev" href="#imgGallery" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#imgGallery" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
  </a>
  </div>
  
  <div class="Ads-Details">
  <h3 class="list-title"><strong>Ads Details</strong></h3>
  <div class="row">
  <div class="ads-details-info col-md-8">
  <p>
  </p><p style="word-break: break-word;"><span id="ctl00_ContentPlaceHolder1_lblMatter">Looking for sharing or single room for south Indian working lady in farwaniya <br>
  Please contact 66395787</span></p>
  <br><br>
  <p></p>
  </div>
  <div class="col-md-4">
  <aside class="panel panel-body panel-details">
  <ul>
  <li>
  <p class=" no-margin ">
  <strong>Posted by:</strong>
  <span id="ctl00_ContentPlaceHolder1_lblName">Nasish Nash</span>
  </p>
  </li>
  <li>
  <p class=" no-margin ">
  <strong>Price:</strong>
  <span id="ctl00_ContentPlaceHolder1_lblPrice2">Not Specified</span>
  </p>
  </li>
  <li>
  <p class="no-margin">
  <strong>Location:</strong>
  <span id="ctl00_ContentPlaceHolder1_lblLocation2">Farwaniya</span>
  </p>
  </li>
  <li>
  <p class="no-margin">
  <strong>Phone:</strong>
  <span id="ctl00_ContentPlaceHolder1_lblPhone2">66395787</span>
  </p>
  </li>
  </ul>
  </aside>
  <div class="ads-action">
  <ul class="list-border">
  <li>
  <a href="/iikclassified/report/2497163/C">
  <i class="fas fa-flag" style="color:#6d0808;" aria-hidden="true"></i> Report abuse
  </a>
  </li>
  </ul>
  </div>
  </div>
  </div>
  <div class="content-footer text-left">
  <i class="fas fa-envelope" aria-hidden="true"></i>
  <a id="ctl00_ContentPlaceHolder1_linkLogin" class="btn  btn-primary" data-toggle="modal" data-target="#loginContact" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$linkLogin','')">Login to Contact advertiser</a>
  <i class="fas fa-phone" aria-hidden="true"></i> <span id="ctl00_ContentPlaceHolder1_lblPhone"><a href="tel:66395787" class="btn  btn-info ">66395787</a></span>
  </div>
  </div>
  </div>
  
  
  <div class="modal fade" id="contactAdvertiser" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <h4 class="modal-title"><i class=" icon-mail-2"></i>Contact advertiser </h4>
  <button type="button" class="close" data-dismiss="modal">
  <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
  </div>
  <div class="modal-body">
  <div class="form-group">
  <label for="recipient-name" class="control-label">Name:</label>
  <input name="ctl00$ContentPlaceHolder1$txtName" type="text" id="ctl00_ContentPlaceHolder1_txtName" class="form-control " placeholder="Your name">
  </div>
  <div class="form-group">
  <label for="sender-email" class="control-label">E-mail:</label>
  <input name="ctl00$ContentPlaceHolder1$txtEmail" type="text" id="ctl00_ContentPlaceHolder1_txtEmail" class="form-control " placeholder="email@you.com">
  </div>
  <div class="form-group">
  <label for="recipient-Phone-Number" class="control-label">Phone Number:</label>
  <input name="ctl00$ContentPlaceHolder1$txtPhone" type="text" id="ctl00_ContentPlaceHolder1_txtPhone" class="form-control " placeholder="Your Phone number">
  </div>
  <div class="form-group">
  <label for="message-text" class="control-label">Message <span class="text-count">(300) </span>:</label>
  <textarea name="ctl00$ContentPlaceHolder1$txtMessage" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtMessage" class="form-control" placeholder="Your message here.."></textarea>
  </div>
  </div>
  <div class="modal-footer">
  <input type="hidden" name="ctl00$ContentPlaceHolder1$hdnRowID" id="ctl00_ContentPlaceHolder1_hdnRowID" value="2497163">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <input type="submit" name="ctl00$ContentPlaceHolder1$btnSubmit" value="Send message!" id="ctl00_ContentPlaceHolder1_btnSubmit" class="btn btn-success pull-right">
  </div>
  </div>
  </div>
  </div>
  </div>